<header>
  <div class="field-wrapper">
    <button
      class="info"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >Previous</button>
    <button
      class="default"
      mwlCalendarToday
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >Current</button>
    <button class="info"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >Next</button>
  </div>
  <h2>{{ viewDate | calendarDate: view + 'ViewTitle' }}</h2>
  <!-- <div class="field-wrapper">
    <button
      class="primary"
      (click)="viewChange.emit(calendarView.Month)"
      [class.active]="view === calendarView.Month"
    >Month</button>
    <button
      class="primary"
      (click)="viewChange.emit(calendarView.Week)"
      [class.active]="view === calendarView.Week"
    >Week</button>
    <button
      class="primary"
      (click)="viewChange.emit(calendarView.Day)"
      [class.active]="view === calendarView.Day"
    >Day</button>
  </div> -->
</header>
<section>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="true"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
    >
    </mwl-calendar-day-view>
  </div>
</section>
