button {
  padding: 13px 25px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  min-width: 120px;
  font-weight: 500;

  &.primary {
    background-color: $cornflower;
    color: $white;
    box-shadow: 1px 3px 10px 0px #adaffc;

    &.active {
      background-color: rgba(109, 113, 249, 0.65);
    }
  }

  &.default {
    background-color: $white;
    border: 2px solid $athens-gray;
  }

  &.delete {
    background-color: $red;
    color: $white;
    box-shadow: 1px 3px 10px 0px #fbd9da;
  }

  &.info {
    background-color: #ecedfd;
    color: $cornflower;
  }

  &.close {
    min-width: auto;
    background-color: transparent;
    color: $white;
    padding: 0;

    fa-icon {
      border: 1px solid;
      border-radius: 10px;
      padding: 5px 10px;
    }
  }

  &.navigate {
    background-color: $white;
    border: 2px solid $athens-gray;
    min-width: auto;
    margin-bottom: 25px;
    border-radius: 12px;
    color: #babaca;
    padding: 0;
    width: 45px;
    height: 42px;

    &.active-route {
      background-color: $purple;
      color: $white;
      box-shadow: 0px 3px 8px 0px #b8bbff;
      border-color: transparent;
    }
  }
}

.field-wrapper button:not(:last-child) {
  margin-right: 10px;
}

.light .close fa-icon {
  color: gray;
  border-color: $athens-gray;
}

.dark .close fa-icon{
  border-color: #4d4e68;
}

a {
  text-decoration: none;
  color: $cornflower;
  font-weight: 500;
}
