@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 34pt;
  font-weight: 600;
  padding: $padding;
}

h2 {
  font-size: 22pt;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

