@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.body-text,
.description {
  font-size: 14px;
  font-weight: 400;
}

.description {
  color: #a3a4ba;
}
