<header>
  <div class="field-wrapper">
    <button
      class="info"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >Previous</button>
    <button
      class="default"
      mwlCalendarToday
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >Current</button>
    <button class="info"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)"
    >Next</button>
  </div>
  <h2>{{ viewDate | calendarDate: view + 'ViewTitle' }}</h2>
</header>
