<header>

</header>
<main>
  <div class="sidebar-item" [routerLink]="['/bookings/schedule']">
    <button class="default navigate" routerLinkActive="active-route">
      <fa-icon [icon]="calendarIcon"></fa-icon>
    </button>
    <p class="body-text">Schedule</p>
  </div>
  <div class="sidebar-item" routerLink="/customers/list">
    <button class="default navigate" routerLinkActive="active-route">
      <fa-icon [icon]="usersIcon"></fa-icon>
    </button>
    <p class="body-text">Clients</p>
  </div>
</main>
