<div class="container">
  <form [formGroup]="hospitalForm" (ngSubmit)="addHospital()">
    <header class="light">
      <h3>Add hospital</h3>
      <button class="close" (click)="closeModal()">
        <fa-icon [icon]="faTimesIcon"></fa-icon>
      </button>
    </header>
    <section>
      <div>
        <p class="body-text">Name</p>
        <div class="field">
          <input type="text" formControlName="name" placeholder="Enter hospital name..">
          <span *ngIf="name?.invalid && name?.dirty" class="error-message">Hospital name is required</span>
        </div>
      </div>
      <div>
        <p class="body-text">Address</p>
        <div class="field">
          <input type="text" formControlName="address" placeholder="Enter hospital address..">
          <span *ngIf="address?.invalid && address?.dirty" class="error-message">Booking name is required</span>
        </div>
      </div>
    </section>
    <footer>
      <div class="field-wrapper">
        <button class="default" (click)="closeModal()">Cancel</button>
        <button class="primary" type="submit">Create</button>
      </div>
    </footer>
  </form>
</div>
