<div class="container">
  <form [formGroup]="customerForm" (ngSubmit)="createCustomer()">
    <header class="light">
      <h3>Add patient</h3>
      <button class="close" (click)="closeModal()">
        <fa-icon [icon]="faTimesIcon"></fa-icon>
      </button>
    </header>
    <section>
      <div>
        <p class="body-text">Full name</p>
        <div class="field">
          <input type="text" formControlName="fullName" placeholder="fullname..">
          <span *ngIf="fullName?.invalid && fullName?.dirty" class="error-message">Enter patient's full name</span>
        </div>
      </div>
      <div>
        <p class="body-text">Age</p>
        <div class="field">
          <input type="number" formControlName="age" placeholder="age..">
          <span *ngIf="age?.invalid && age?.dirty" class="error-message">Enter correct age</span>
        </div>
      </div>
      <div>
        <p class="body-text">Phone number</p>
        <div class="field">
          <input type="tel" formControlName="phoneNumber" placeholder="ex: 123-456-78-90..">
          <span *ngIf="phoneNumber?.invalid && phoneNumber?.dirty" class="error-message">Enter patient's phoneNumber</span>
        </div>
      </div>
      <div>
        <p class="body-text">Illness history</p>
        <div class="field">
          <input type="text" formControlName="illnessHistory" placeholder="illness history..">
          <span *ngIf="illnessHistory?.invalid && illnessHistory?.dirty" class="error-message">Enter patient's illness history</span>
        </div>
      </div>
      <div>
        <p class="body-text">Diagnosis</p>
        <div class="field">
          <input type="text" formControlName="diagnosis" placeholder="Diagnosis..">
          <span *ngIf="diagnosis?.invalid && diagnosis?.dirty" class="error-message">Enter patient's diagnosis</span>
        </div>
      </div>
      <div>
        <p class="body-text">Doctor details</p>
        <div class="field">
          <input type="text" formControlName="doctorId" placeholder="Choose a doctor..">
          <span *ngIf="doctorId?.invalid && doctorId?.dirty" class="error-message">Choose a doctor from a list</span>
        </div>
      </div>
    </section>
    <footer>
      <div class="field-wrapper">
        <button class="default" (click)="closeModal()">Cancel</button>
        <button class="primary" type="submit">Create</button>
      </div>
    </footer>
  </form>
</div>
